:root {
  /* These are just examples for some custom selectors */
  --dark_purple_bg_color: rgb(66, 66, 166);
  --light_purple: rgb(170, 170, 236);
  --light_bg_color: rgb(#eeeeee);
  --light_text_color: rgb(232, 232, 248);
  --warning_red: rgb(232, 68, 68);

  --fill-high: 100%;
  --fill-wide: 100%;
  --standard_pad: 2%;
  --rounded_border: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--light_bg_color);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 5vh;
  width: 46.2vh; /*not sure why this number is perfect*/
}
.header__logo {
}
.top-interface {
  height: 20vh;
  width: 46.2vh; /*not sure why this number is perfect*/
}
.top-interface__edit-button {
}
.card-display {
  height: 42vh;
  width: 46.2vh; /*not sure why this number is perfect*/
}
.card-display__info-text {
}
.bottom-interface {
  height: 33vh;
  width: 46.2vh; /*not sure why this number is perfect*/
}
.buttom-interface__flip {
}
.buttom-interface__next {
}

/* DEBUGGING*/

/* 
This is a handy debugging tool
Simply uncomment the code below
and each level of nesting will
get a different color border.
*/

/* body > * {
  border: pink solid 5px;
}
body > * > * {
  border: orange solid 5px;
}
body > * > * > * {
  border: red solid 5px;
}
body > * > * > * > * {
  border: purple solid 5px;
}
body > * > * > * > * > * {
  border: black solid 5px;
} */
