:root {
  /* These are just examples for some custom selectors */
  --dark_purple_bg_color: rgb(66, 66, 166);
  --light_purple: rgb(170, 170, 236);
  --light_bg_color: rgb(232, 232, 248);
  --light_text_color: rgb(232, 232, 248);
  --warning_red: rgb(232, 68, 68);

  --fill-high: 100%;
  --fill-wide: 100%;
  --standard_pad: 2%;
  --rounded_border: 5px;
}

* {
  /* RESET Perhaps the most important reset! */
  box-sizing: border-box;
}

body {
  /* RESET The margin reset needs to be in the body selector specifically */
  margin: 0;
  /* background-color and font-family aren't resets.
     Rather just an example of CSS variable and a good
     starter font. */
  background-color: var(--light_bg_color);
  font-family: Arial, Helvetica, sans-serif;
}

/* DEBUGGING*/

/* 
This is a handy debugging tool
Simply uncomment the code below
and each level of nesting will
get a different color border.
*/

/* body > * {
  border: pink solid 5px;
}
body > * > * {
  border: orange solid 5px;
}
body > * > * > * {
  border: red solid 5px;
}
body > * > * > * > * {
  border: purple solid 5px;
}
body > * > * > * > * > * {
  border: black solid 5px;
} */
